html
  head
    style.
      .link{
        padding: 5px 10px;
        float: left;
        border-right: 1px solid #bbb;
      }
      .navi{
        position: sticky;
        top: 0px;
      }
  body
    nav.navi
      a.link(href="/") Home
      a.link(href="/celebrities") Lista de Celebridades
      a.link(href="/celebrities/new") Añadir Celebridad
      a.link(href="/movies") Lista de Peliculas
      a.link(href="/movies/new") Añadir Pelicula
    block content